.promo {
  display: flex;
  background: #1b6dff;
  border-radius: 4px;
  position: relative;
  padding: 57px 0 63px 88px;
}

.promo__text-block {
  max-width: 494px;
}

.promo__logo-block {
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 0;
}

.promo__logo {
  width: 26px;
  padding-right: 12px;
}

.promo__logo-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
  color: #ffffff;
  margin: 0;
}

.promo__text {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.1;
  color: #ffffff;
  margin: 0;
  padding-top: 60px;
}

.promo__link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #ffffff;
  margin: 0;
  padding-top: 124px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.promo__link:hover {
  opacity: 0.8;
}

.promo__arrow {
  padding-left: 13px;
}

.promo__photo-block {
  width: 487px;
  height: 501px;
  background-image: url("../../images/beniamin-photo.png");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 9.85%;
}

.promo__ceo-block {
  width: 293px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 4px;
  text-align: right;
  position: absolute;
  bottom: 60px;
  right: -69.5px;
  padding: 16px 23px;
}

.promo__name {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  color: #000000;
  margin: 0;
}

.promo__career {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: #1b6dff;
  margin: 0;
  padding-top: 8px;
}

@media screen and (max-width: 1150px) {
  .promo {
    padding: 17px 0 41px 24px;
  }

  .promo__text-block {
    max-width: 396px;
  }

  .promo__text {
    font-size: 32px;
  }

  .promo__photo-block {
    width: 47.17%;
    height: 113.7%;
    right: 18px;
  }

  .promo__ceo-block {
    bottom: 13.84%;
    right: 9px;
  }
}

@media screen and (max-width: 885px) {
  .promo__text-block {
    max-width: 350px;
  }

  .promo__text {
    font-size: 20px;
    padding-top: 24px;
  }

  .promo__link {
    font-size: 16px;
    line-height: 1.19;
  }

  .promo__ceo-block {
    bottom: 8%;
  }

  .promo__name {
    font-size: 24px;
  }
}

@media screen and (max-width: 700px) {
  .promo {
    flex-direction: column;
    align-items: center;
    padding: 12px 12px 0 12px;
  }

  .promo__text-block {
    width: 100%;
    max-width: 485px;
  }

  .promo__logo-block {
    padding: 12px 0;
  }

  .promo__text {
    padding-right: 12px;
  }

  .promo__link {
    padding: 32px 0 28px;
  }

  .promo__photo-block {
    width: 296px;
    min-height: 304px;
    background-position: center;
    position: relative;
    right: 0;
  }

  .promo__ceo-block {
    width: 281px;
    bottom: 10px;
    right: 8px;
    padding: 16px 21px;
  }
}
