.heading {
  text-align: center;
  padding-bottom: 75px;
}

.heading__title {
  width: 588px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.17;
  color: #00201b;
  margin: 0 auto;
}

.heading__text {
  max-width: 371px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  color: #46464a;
  margin: 0 auto;
  padding-top: 12px;
}

.heading__buttons {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 12px;
  padding-top: 60px;
}

.heading__popup-button {
  width: 181px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  background: #1b6dff;
  border-radius: 4px;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.heading__popup-button:hover {
  background-color: #0053DB;
}

.heading__link {
  width: 159px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #1b6dff;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #1b6dff;
  padding: 12px 0;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.heading__link:hover {
  background-color: #F2F0F5;;
}

@media screen and (max-width: 1150px) {
  .heading {
    padding-bottom: 147px;
  }

  .heading__title {
    width: 404px;
    font-size: 44px;
    line-height: 1.18;
  }

  .heading__text {
    max-width: 310px;
    font-size: 20px;
    line-height: 1.15;
  }
}

@media screen and (max-width: 885px) {
  .heading__title {
    width: 350px;
    font-size: 38px;
    line-height: 1.19;
  }

  .heading__text {
    max-width: 280px;
    font-size: 18px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 700px) {
  .heading {
    padding-bottom: 63px;
  }

  .heading__title {
    width: 294px;
    font-size: 32px;
  }

  .heading__text {
    max-width: 248px;
    font-size: 16px;
  }

  .heading__buttons {
    padding-top: 40px;
  }
}

@media screen and (max-width: 445px) {
  .heading__buttons {
    grid-template-columns: 1fr;
  }

  .heading__popup-button {
    width: 100%;
  }

  .heading__link {
    width: 100%;
  }
}
