.steps {
  padding-bottom: 6.08%;
}

.steps__title {
  width: 435px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1;
  color: #1b1b1f;
  margin: 0;
  padding-bottom: 40px;
}

.steps__cards {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.steps__card {
  width: 32.15%;
  max-width: 418px;
  background: #f6f6fe;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
}

.steps__card-box {
  flex: auto;
}

.steps__card-number {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
  color: #00174c;
  flex-shrink: 0;
  margin: 0;
  padding-bottom: 48px;
}

.steps__card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  color: #00174c;
  margin: 0;
  padding-bottom: 8px;
}

.steps__card-text {
  max-width: 327px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #00174c;
  margin: 0;
  padding-bottom: 55px;
}

.steps__card-text_type_narrow {
  max-width: 286px;
}

.steps__card-photo {
  width: 100%;
  max-width: 255px;
  padding-bottom: 92px;
}

.steps__card-photo_type_piles {
  max-width: 195px;
  padding: 0 0 82px 30px;
}

.steps__card-link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
  color: #1b6dff;
  margin: 0;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.steps__card-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1150px) {
  .steps {
    padding-bottom: 16.74%;
  }

  .steps__title {
    width: 326px;
    font-size: 36px;
  }

  .steps__card {
    width: 31.52%;
    padding: 20px 16px;
  }

  .steps__card-photo {
    padding-bottom: 115px;
  }

  .steps__card-photo_type_piles {
    padding-bottom: 84px;
  }
}

@media screen and (max-width: 885px) {
  .steps__title {
    width: 255px;
    font-size: 28px;
  }

  .steps__card-number {
    font-size: 16px;
    padding-bottom: 32px;
  }

  .steps__card-title {
    font-size: 20px;
  }

  .steps__card-text {
    font-size: 16px;
  }

  .steps__card-photo_type_piles {
    padding-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .steps {
    max-width: 418px;
    margin: 0 auto;
    padding-bottom: 80px;
  }

  .steps__cards {
    flex-direction: column;
    align-items: center;
  }

  .steps__card {
    width: 100%;
    box-sizing: border-box;
  }

  .steps__card-photo_type_piles {
    padding: 0 0 67px 30px;
  }
}

@media screen and (max-width: 500px) {
  .steps__title {
    width: 181px;
    font-size: 20px;
  }
}
